@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;700&display=swap');

* {
    margin: 0;
    padding: 0;
}

body {
    font-family: 'Poppins', sans-serif;
}

.container {
    display: grid;
    grid-template-columns: 50% 50%;
}

.logo-name {
    background-color: #023344;
    width: 100%;
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center; 
    align-items: center; 
}

.logo-name p {
    font-weight: bold;
    font-size: 56px;
    color: white;
}

.student-information {
    width: 100%;
    height: 100vh;
}

.student-data {
    display: grid;
    grid-template-columns: 50% 50%;
    margin: 40px;
}

.details-label {
    display: grid;
    grid-column: span 2;
}

.details-label p {
    font-weight: bold;
    font-size: 32px;
    color: #023344;
}
.student-description {
    display: grid;
    grid-column: span 2;
}

.student-description p {
    font-weight: semibold;
    font-size: 16px;
    color: #05A6DE;
}

.student-form {
    grid-column: span 2;
}

.student-enroll {
    display: grid;
    grid-template-columns: 50% 50%;
    margin-top: 50px;
    gap: 10px;
}


.first-name {
    display: flex;
    flex-direction: column; 
}

.first-name input {
    border-radius: 5px; 
    height: 30px; 
    border: 1px solid gray;
    padding: 4px;
}


.last-name {
    display: flex;
    flex-direction: column; 
}

.last-name input {
    border-radius: 5px; 
    height: 30px; 
    border: 1px solid gray;
    padding: 4px;
}

.age {
    display: flex;
    flex-direction: column; 
}

.age input {
    border-radius: 5px; 
    height: 30px; 
    border: 1px solid gray;
    padding: 4px;
}

.gender {
    display: flex;
    flex-direction: column; 
}

.gender input {
    border-radius: 5px; 
    height: 30px; 
    border: 1px solid gray;
    padding: 4px;
}

.contact {
    display: flex;
    flex-direction: column; 
    grid-column: span 2;
}

.contact input {
    border-radius: 5px; 
    height: 30px; 
    border: 1px solid gray;
    padding: 4px;
}

.address {
    display: flex;
    flex-direction: column; 
    grid-column: span 2;
}

.address input {
    border-radius: 5px; 
    height: 30px; 
    border: 1px solid gray;
    padding: 4px;
}

.select-grade {
    display: flex;
    flex-direction: column; 
    grid-column: span 2;
}

.select-grade input {
    border-radius: 5px; 
    height: 30px; 
    border: 1px solid gray;
    padding: 4px;
}

.select-course {
    display: flex;
    flex-direction: column; 
    grid-column: span 2;
}

.select-course input {
    border-radius: 5px; 
    height: 30px; 
    border: 1px solid gray;
    padding: 4px;
}

.enroll-btn {
    border: 2px solid #05A6DE;
    background-color: white;
    color: #05A6DE;
    padding: 10px 20px;
    cursor: pointer;
    border-radius: 5px; 
    grid-column: span 2; /* Spanning two columns */
    font-weight: bold; /* Bold font */
    margin-top: 10px;
}


.enroll-btn:hover {
    background-color: #05A6DE;
    color: white;
    border: 2px solid #023344; /* Change background color on hover */
}

.portal-btn {
    border: 2px solid #05A6DE;
    background-color: #023344;
    color: white;
    padding: 5px 20px;
    cursor: pointer;
    border-radius: 5px; 
    grid-column: span 2; /* Spanning two columns */
    font-weight: medium; /* Bold font */
    margin-top: 5px;
    text-decoration: none;
    text-align: center; 
}

.portal-btn:hover {
    background-color: #05A6DE;
    border: 2px solid #023344; /* Change background color on hover */
}

.nav-header {
    display: grid; /* Make the element a grid container */
    grid-template-columns: repeat(6, 1fr); /* Define grid columns */
    background-color: #023344; /* Background color */
    height: 90px;
}

.enrollment-system {
    font-weight: bold; /* Apply bold font weight */
    font-size: 30px; /* Increase text size to 30 pixels */
    grid-column: span 3; /* Span the element across 3 grid columns */
    color: white; /* Set text color to white */
    display: flex; /* Use flexbox */
    align-items: center; /* Center the content vertically */
    padding-left: 40px;
}

.no-section {
    grid-column: span 2; /* Span the element across 2 grid columns */
    display: flex; /* Use flexbox */
    align-items: center; /* Center the content vertically */
    justify-content: space-evenly; /* Center the content horizontally */
}

.nav-btn {
    background-color: #023344; /* Set the background color */
    border: 2px solid #05A6DE; /* Set the border */
    color: white; /* Set the text color */
    border-radius: 5px; /* Set the border radius for rounded corners */
    height: 40px; /* Set the height to 50 pixels */
    width: 150px; /* Set the width to 100% */
}

.nav-btn:hover {
    background-color: #05A6DE; /* Set the background color */
}

.logout {
    display: flex; /* Use flexbox */
    align-items: center; /* Center the content vertically */
    justify-content: center; /* Horizontally center the content */
    color: white; /* Set the text color to white */
    font-size: 20px; /* Set the font size to extra-large */
}

.log {
    color: white;
}

.enroll {
    color: white;
    text-decoration: none;
}

.logout:hover a {
    color: #05A6DE; /* Set the background color */
    cursor: pointer;
}

/* Add cursor pointer to all buttons on hover */
.enroll-btn:hover,
.portal-btn:hover,
.nav-btn:hover {
    cursor: pointer;
}

.student-table {
    margin: 8px; /* Add margin */
    margin-top: 50px;
    display: grid; /* Make the element a grid container */
    grid-template-columns: repeat(7, 1fr); /* Define grid columns */
}

.no-section-list {
    grid-column: span 7; /* Span across 7 grid columns */
    display: flex; /* Use flexbox */
    align-items: center; /* Center the items vertically */
    color: #023344;
    font-weight: bold;
    font-size: 20px;
    
}

.enroll-table {
    width: 100%; /* Set the table width to 100% */
    border-collapse: collapse; /* Collapse the table borders */
}

.enroll-table thead th {
    background-color: #023344; /* Header background color */
    color: white; /* Header text color */
    font-weight: bold; /* Header font weight */
    text-align: center; /* Center align header text */
    height: 40px;

}

.enroll-table tbody td {
    color: black; /* Table data text color */
    text-align: center; /* Center align data text */
    height: 50px;
}

.enroll-table tbody tr:nth-child(even) {
    background-color: #CCCCCC; /* Background color for even rows */
}

.enroll-table tbody tr:nth-child(odd) {
    background-color: #ECECEC; /* Background color for odd rows */
}

.button-container {
    text-align: center; /* Center align the buttons */
}

.enroll-btn {
    background-color: #05A6DE; /* Button background color */
    color: white; /* Button text color */
    border: none; /* Remove button border */
    padding: 10px 20px; /* Add padding to the button */
    border-radius: 5px; /* Add border radius */
    cursor: pointer; /* Add pointer cursor */
    margin: 5px; /* Add margin for spacing between buttons */
}

.cancel-btn {
    background-color: red; /* Button background color */
    color: white; /* Button text color */
    border: none; /* Remove button border */
    padding: 10px 20px; /* Add padding to the button */
    border-radius: 5px; /* Add border radius */
    cursor: pointer; /* Add pointer cursor */
    margin: 5px; /* Add margin for spacing between buttons */
}




















